.container {
  padding: 20px;
}

.table {
  margin-top: 50px;
}

.cost-filter-element {
  display: flex;
  align-items: center;
}

.slider {
  width: 30%;
}

.margin-horizontal15 {
  margin-left: 15px;
  margin-right: 15px;
}
